<template>
  <div class="main-wrapper">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-6 d-none d-md-block " id="leftbar">
          <SideBar msg="forg" />
        </div>
        <div   class="col-md-6 " id="rightbar">
          
          
          
          <div class="header bg-dark d-md-none text-warning py-2 text-center">
GLOBAL NDA
          </div>
          <div class="rb">
            <div id="rb-1">
            <div class="heading">
              <h1 class="h1">Forgot Password</h1>
             <ModeChange/>
            </div> 
           
            <h3 class="h3">Provide your account’s email you want to reset your password</h3>
            
            
            <span class=" input form-control form-control-lg mx-auto" >
              <i class=" icon fa-regular fa-envelope"></i>
              <input class="input-field" name="email" type="text"  placeholder="Email Address"  />
              
            </span>
            <!-- <span class=" input form-control form-control-lg mx-auto" >
              <i class="icon fa-solid fa-lock"></i>
              <input class="input-field" name="password" type="password"  placeholder="Password" id="password" />
              <i class="icon2 fa-solid fa-eye-slash" @click="ToggleInput"></i>
            </span> -->
            
            
           
            <!-- <div class="input-1 input-group mb-3 input-group-lg">
              <input type="password" class="form-control" placeholder="Password" id="password">
              <div class="input-group-prepend" >
                <button class="input-group-text" id="icon"  @click="ToggleInput"> <img src="../../assets/eye-slash.svg" /></button>
              </div> -->
              <button  class="button-login" >Next</button>
              <!-- <button v-else class="button-login-dark" >Login</button> -->
            <!-- <h6 class="h6 d-none d-md-block ">
              <router-link class="" to="/forgot">Forgot Password</router-link>
            </h6>
            <h6 class="h6 d-md-none" >Dont have an account?
              <router-link to="/Register">Sign Up</router-link>
            </h6> -->
          </div>
         
            <span class="img-span d-md-none">
              <img class="img-eep" src="../../../assets/eep1.png"/>
            </span>
  </div>
            
  
            
          </div>
         
          <!-- <div class="login"> -->
        </div>
      </div>
    </div>
  
  <!-- </div> -->
</template>

<script>
import SideBar from "../../../components/SideBar.vue";
import ModeChange from "@/components/ModeChange.vue";
export default {
  name: "Login",
  components: { SideBar , ModeChange},
  
    
    data: function() {
      validateForm()
      return{
        isDark : false,
        inputType: "password",
      }
    },

   methods: {
    ToggleInput(){
      var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
    },
   modeChange(event){
  // var y = document.getElementById("mode");
 
  //   y.class = "icon-mode fa-solid fa-moon";
  // this.isDark= !this.isDark;
  if (event.currentTarget.classList=='icon-mode fa-solid fa-moon'){
this.isDark=!this.isDark
    event.currentTarget.classList.remove('icon-mode', 'fa-solid', 'fa-moon');
    event.currentTarget.classList.add('icon-mode', 'fa-solid', 'fa-sun');
    console.log(this.isDark)
  }
  else if(event.currentTarget.classList=='icon-mode fa-solid fa-sun'){
    this.isDark=!this.isDark
    event.currentTarget.classList.remove('icon-mode', 'fa-solid', 'fa-sun');
    event.currentTarget.classList.add('icon-mode', 'fa-solid', 'fa-moon');
    console.log(this.isDark)
  }
  

},
   
    //  con() {
      
         
    //      console.log(this.inputType);
         
    //      this.Password.value='text'
         
    //      this.Password.value='text'
    //    },
    //  hidePassword(){
    //   this.type = 'password'
    //  }
    //  }
   }}


</script>

<style></style>
