<template>
  <div class="main-wrapper">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-6 d-none d-md-block " id="leftbar">
          <SideBar msg="forg" />
        </div>
        <div   class="col-md-6 " id="rightbar">
          
          
          
          <div class="header bg-dark d-md-none text-warning py-2 text-center">
GLOBAL NDA
          </div>
          <div class="rb">
            <div id="rb-1">
            <div class="heading">
              <h1 class="h1">Password Updated</h1>
             <ModeChange/>
            </div> 
           
            <h3 class="h3">Your Password has been Updated!</h3>
            
           
              <button  class="button-login" >Next</button>
              <!-- <button v-else class="button-login-dark" >Login</button> -->
            <!-- <h6 class="h6 d-none d-md-block ">
              <router-link class="" to="/forgot">Forgot Password</router-link>
            </h6>
            <h6 class="h6 d-md-none" >Dont have an account?
              <router-link to="/Register">Sign Up</router-link>
            </h6> -->
          </div>
         
            <span class="img-span d-md-none">
              <img class="img-eep" src="../../../assets/eep1.png"/>
            </span>
  </div>
            
  
            
          </div>
         
          <!-- <div class="login"> -->
        </div>
      </div>
    </div>
</template>

<script>
import SideBar from "../../../components/SideBar.vue";
import ModeChange from "@/components/ModeChange.vue";
export default {
  name: "Login",
  components: { SideBar, ModeChange },
  
    
    data: function() {
      return{
        isDark : false,
        inputType: "password",
      }
    },

   methods: {
    ToggleInput(){
      var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
    },
    modeChange(event){
  // var y = document.getElementById("mode");
 
  //   y.class = "icon-mode fa-solid fa-moon";
  // this.isDark= !this.isDark;
  if (event.currentTarget.classList=='icon-mode fa-solid fa-moon'){
this.isDark=!this.isDark
    event.currentTarget.classList.remove('icon-mode', 'fa-solid', 'fa-moon');
    event.currentTarget.classList.add('icon-mode', 'fa-solid', 'fa-sun');
    console.log(this.isDark)
  }
  else if(event.currentTarget.classList=='icon-mode fa-solid fa-sun'){
    this.isDark=!this.isDark
    event.currentTarget.classList.remove('icon-mode', 'fa-solid', 'fa-sun');
    event.currentTarget.classList.add('icon-mode', 'fa-solid', 'fa-moon');
    console.log(this.isDark)
  }
  

},
  
   }}


</script>

<style>
.button-login{
  width: 60%;
    
}
.h1{
  
  text-align: center;
}
.h3{
  
  text-align: center;
}
.img-updated{
  align-items: center;
  margin-left: auto;
    margin-right: auto;
}
</style>