<!DOCTYPE html>
<html lang="">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css"/>
    <script type="module" src="https://unpkg.com/dark-mode-toggle"></script>
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="./assets/dark.css" media="prefers-color-scheme : Dark"/>
    <title>Global NDA</title>
    <script src="https://kit.fontawesome.com/36d79257f8.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <noscript>
      <!-- <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong> -->
    </noscript>
    <div id="app">

    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
