<template>
  <div>
   <Header></Header>
  </div>
</template>
<script>
import Header from '@/components/Header.vue';

export default ({
  name: "Registry",
  components: { Header },
  setup() {},
});
</script>
