<template>
<div class="head">
   <img src="../assets/logo2.png">
   <span>
    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
    <input placeholder="Search"/>
   </span>
   <i class="fa-solid fa-bell"></i>
   <i class="fa-solid fa-moon"></i>
   <i class="fa-solid fa-user"></i>
</div>
</template>
<script>


export default ({
    name: "Header",
    setup() {
        
    },
})
</script>
<style scoped>

</style>
