<template>
  <div class="container">
    <div class="">
      <input
        @change="toggleTheme"
        id="checkbox"
        type="checkbox"
        class="switch-checkbox"
      />
      <label for="checkbox" class="switch-label">
        <span>🌙</span>
        <span>☀️</span>
        <div
          class="switch-toggle"
          :class="{ 'switch-toggle-checked': userTheme === 'dark-theme' }"
        ></div>
      </label>
     
    </div>
  </div>
</template>
<script>

export default {
  mounted() {
    // const initUserTheme = this.getMediaPreference();
    // this.setTheme(initUserTheme);
    const initUserTheme = this.getTheme() || this.getMediaPreference();
  this.setTheme(initUserTheme);
    
  },

  data() {
    return {
      userTheme: "light-theme",
    };
  },
  methods: {
  setTheme(theme) {
    localStorage.setItem("user-theme", theme);
    this.userTheme = theme;
    document.documentElement.className = theme;
  },
  toggleTheme() {
  const activeTheme = localStorage.getItem("user-theme");
  if (activeTheme === "light-theme") {
    this.setTheme("dark-theme");
  } else {
    this.setTheme("light-theme");
  }
},
toggleTheme() {
  const activeTheme = localStorage.getItem("user-theme");
  if (activeTheme === "light-theme") {
    this.setTheme("dark-theme");
  } else {
    this.setTheme("light-theme");
  }
},
getMediaPreference() {
  const hasDarkPreference = window.matchMedia(
    "(prefers-color-scheme: dark)"
  ).matches;
  if (hasDarkPreference) {
    return "dark-theme";
  } else {
    return "light-theme";
  }
},
getTheme() {
  return localStorage.getItem("user-theme");
},

}
};

</script>
<style>
.container{
  width: auto;
}
html, body {
  padding: 0;
  margin: 0;
}
/* Define styles for the default root window element */
:root {
  --background-color-primary: #f9f9f9;
  --background-color-secondary: #FFFFFF;
;
  --accent-color: #cacaca;
  --text-primary-color:#2E2E2E;
;
  /* --element-size: 4rem; */
}

/* Define styles for the root window with dark - mode preference */
:root.dark-theme {
  --background-color-primary: #424242;
  --background-color-secondary: #383838;
  --accent-color: #3f3f3f;
  --text-primary-color: #FFFFFF;
}

p {
  color: var(--text-primary-color);
}

.container-center {
  background-color: var(--background-color-primary);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 2rem 4rem;
  height: 200px;
  width: 300px;
  text-align: center;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--background-color-secondary);
}
.switch-toggle-checked {
  transform: translateX(calc(var(--element-size) * 0.6)) !important;
}
</style>