<template>

  <div>
    <div id="leftbar-1">
    
    <img class="logo" src="../assets/logo.png" />
    
      <p class="paragraph">Simplify your NDA. Get exclusive access.</p>
      <p v-if="msg==='reg'" class="paragraph">Already a member</p>
      <router-link v-if="msg==='reg'" to="/login"><button class="button-1" >Login</button></router-link>

      <p v-if="msg==='log'" class="paragraph">Not a member yet?</p>

        <router-link v-if="msg==='log'" to="/register"><button class="button-1">Register</button></router-link>
        <router-link v-if="msg==='forg'" to="/login"><button class="button-1">Read More</button></router-link>
  
      
  <!-- <img class="ellipse" src="../assets/ellipse1.png"/> -->
</div>

              <img class="img-eep-md" src="../assets/ecllipse.png"/>
           
  </div>
</template>

<script>
export default {
  name: "SideBar",
  props: ['msg']
};
</script>

<style>
</style>
