@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
.container-fluid{
    width: 100%;
}
/* .col-6{
    height: 1000vh;
    
    
} */
#leftbar, #rightbar{
    
        height: 100vh;
        overflow: hidden;
      
}
#leftbar{
    background: linear-gradient(180deg, #2E2E2E 0%, #58595B 100%);
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 0;
    
    
}
.lb{

}
#leftbar-1{
    width: auto;
    display: flex;
    flex-direction: column;
    margin-top: 27%;
    margin-bottom: 10%;
    
    margin-left: auto;
    margin-right: auto;
     justify-content: flex-start !important;
    /* align-items: left ;  */
    padding-left: 15%;
    

}
#rightbar{
    background: var(--background-color-primary);
    /* width: max-content;  */
    /* margin: auto auto;  */
   width: 100%;
   margin-top: auto;
   margin-bottom: auto;
  
   /* position: absolute; */
   
   /* align-items: center;
   justify-content:center; */
   /* align-items: center; */
   
}
#rb-1{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-bottom: auto !important;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center !important; */
    align-content: center;


}
@media screen and (max-width: 771px){
    
    #rb-1{
   height: 60%;
}}
@media screen and (max-width: 771px){
    
    .rb{
    background-color: var(--background-color-secondary) !important;
    /* padding-bottom: 33% !important; */
}}

.rb{
    height: 100%;
}


@media screen and (min-width: 771px){
    
    #rb-1{
   margin-top: 20vh;
}}
.header{
    font-size: small;
}

/* @media screen and (max-width: 777px){
    #mq-1{
    display: none !important;
}} */
.paragraph{
    font-family: 'Outfit';
font-style: normal;
font-weight: 500;
color: #FFFFFF;
margin-left: 0;
font-size: small;
/* margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto; */
margin-top: 2%;
margin-bottom: 2%;
}
.logo{
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
 

}
/* .button{
    width: 90%;
    height: 9vh;
    background: #FFEE00;
border-radius: 6px;
margin-top: 5%;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
border: none;

} */


.button-login{
    width: 87%;
    height: 9vh;
    background: #FFEE00;
border-radius: 6px;
margin-top: 5%;
margin-bottom: 0;
margin-left: auto !important;
margin-right: auto !important;
border: none;
margin: 0.5rem auto;
font-size: small;

}
.button-login-dark{
    width: 87%;
    height: 9vh;
    background: #58595B;
border-radius: 6px;
margin-top: 5%;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;
border: none;
margin: 0.5rem auto;
font-size: small;

}
@media screen and (max-width: 771px){
    
   .button-login{
      
    height: 10% !important;
}}
a{
    color: #808080;
}
.button-login:focus{
    outline: #FFEE00;
}
.button-1{
    background: #FFFFFF;
border-radius: 6px;
margin-top: 1%;
width: 20%;
font-size: x-small;
    line-height: inherit;
    font-weight: 500;
    border: none;
}
.icon{
    font-size: x-small;
    margin-left: 1%;
    color: #808080;
    justify-content: center;
}
.icon2{
    font-size: x-small;
    color: #808080;
}
.img-span{
    height: 30%;
    width: 80%;
    
    margin-bottom: 0;
}
.img-eep{
    height: 100%;
    width: 100%;
}
.img-span-md{
    height: 20%;
    width: 60%;
    margin-top: 25%;
}
.img-eep-md{
    height: 100%;
    width: 75%;
    margin-left: 0 !important;
}

.input-field{
    margin-left: 2%;
    font-size: x-small;
    width: 90%;
    border: none;
    background-color: var(--background-color-secondary);

}
.input-field:focus{
    outline: none;
}
.input{
   
    height: 9vh;
    border: none;
    width: 87%;
     padding: 2%;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--background-color-secondary);
}
.input:focus{
    outline: none;
}
@media screen and (max-width: 771px){
    
    .input{
        border: solid var(--background-color-primary);
    outline: black !important;
    height: 10% !important;
}}

.heading{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    margin: 0 0;
    align-items: center;
    margin: 0 auto;
}
@media screen and (max-width: 771px){
    
    .heading{
    margin-top: 10% !important;
    
}}
.icon-mode{

}

.input-1{
   
    
    /* display: -ms-flexbox;  */
    display: flex;
    width: 90%;
    height: 10%;
    margin: 0 auto;
    justify-content: center;
    
}
.input-1 input{
    width: 80%;
    padding: 10px;
    outline: none;
    border: none;
    padding: 5%;
   
}
#icon{
    background-color: #FFFFFF;
}
.fa{
    font-size: small;
}
.input-img{
  width: 20%;
  /* padding: 10px; */
  outline: none;
  border: none;
  padding: 5%;
  background-color: #FFFFFF;
    /* padding: 5%; */
   
    justify-content: center;
    /* justify-content: center;
  align-items: center; */
  /* justify-items: auto; */
  display: flex;
  
  align-items: center;
  cursor: pointer;
}


.h6{
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    font-size: x-small;
    /* margin-bottom: auto; */
    color: var( --text-primary-color) !important;
    
}

h1 {
    /* margin-top: auto; */
    margin-bottom: 0 !important;
    text-align: left;
    width: 90%;
    font-size:medium !important;
    font-weight: bold !important;
    color: var( --text-primary-color) !important;
    
}

/* @media screen and (max-width: 771px){
    
    h1 -v{
    margin: 0 auto !important;
}} */
h3{
   margin-left: auto;
   margin-right: auto;
    text-align: left;
    width: 90%;
    margin-top: 1%;
    margin-bottom: 5% !important;
    padding-left: 1%;
    font-size: smaller !important;
    font-weight: 400 !important;
    color: var( --text-primary-color) !important;

    

}
@media screen and (max-width: 771px){
    
    .h3{
    margin-bottom: 2vh !important;
    
}}
/* .ellipse{
    z-index: 3;
    left: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
    background-attachment: fixed;
} */
/* .sidebar-1{
    z-index: 1;
} */

/* .sidebar{
    z-index: 2;
    flex-direction: column;
    align-items: baseline;
} */
.code-input{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}
.code-input input{
    width: 7%;
    height: 100%;
    margin: 0 2 !important;
    padding: auto auto !important;
}

.update-logo{
    height: 30%;
}
.update-logo svg{
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}
.form-div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}