<template>
  <div class="main-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 d-none d-md-block" id="leftbar">
          <SideBar msg="reg" />
        </div>
        <div class="col-md-6 rightbar" id="rightbar">
          <div class="header bg-dark d-md-none text-warning py-2 text-center">
            GLOBAL NDA
          </div>
          <div class="rb">
            <div id="rb-1">
              <div class="heading">
                <h1 class="h1">Hello</h1>
               <ModeChange/>
              </div>

              <h3 class="h3">Sign Up to get started</h3>
              <form class="form-div" name = "myForm" onsubmit = "return(validate());">
                <span class="input form-control form-control-lg mx-auto">
                  <i class="icon fa-solid fa-user"></i>
                  <input
                  class="input-field"
                  name = "Name"
                  type="text"
                  placeholder="Full Name"
                  />
                  
                </span>
                <span id="nameloc"></span>

              <span class="input form-control form-control-lg mx-auto">
                <i class="icon fa-regular fa-envelope"></i>
                <input
                class="input-field"
                name="email"
                  type="text"
                  placeholder="Email Address"
                />
              </span>
              
              <span id="nameloc2"></span>
              <span class="input form-control form-control-lg mx-auto">
                <i class="icon fa-solid fa-lock"></i>
                <input
                class="input-field"
                name="password"
                type="password"
                placeholder="Password"
                id="password"
                />
                <i class="icon2 fa-solid fa-eye-slash" @click="ToggleInput"></i>
              </span>
              <span id="nameloc3"></span>

              <!-- <div class="input-1 input-group mb-3 input-group-lg">
              <input type="password" class="form-control" placeholder="Password" id="password">
              <div class="input-group-prepend" >
                <button class="input-group-text" id="icon"  @click="ToggleInput"> <img src="../../assets/eye-slash.svg" /></button>
              </div> -->
              <button class="button-login" @click="validate()">Register</button>
              <!-- <input type = "submit" value = "Submit"  /> -->
            </form>
              <!-- <h6 class="h6 d-none d-md-block ">
                <router-link class="" to="/forgot">Forgot Password</router-link>
              </h6>
              <h6 class="h6 d-md-none" >Dont have an account?
              <router-link to="/Register">Sign Up</router-link>
            </h6> -->
            </div>
            <span class="img-span d-md-none">
              <img class="img-eep" src="../../assets/eep1.png" />
            </span>
          </div>
        </div>
        
        <!-- <div class="login"> -->
      </div>
    </div>
  </div>

  <!-- </div> -->
</template>

<script type = "text/javascript">
import SideBar from "../../components/SideBar.vue";
import ModeChange from "@/components/ModeChange.vue";

export default {
  name: "Login",
  components: { SideBar, ModeChange },


    data: function() {
      validateForm()
      return{
isDark :false,
        inputType: "password",
      }
    },

   methods: {
    ToggleInput(){
      var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
    },
    modeChange(event){
  
  if (event.currentTarget.classList=='icon-mode fa-solid fa-moon'){

    event.currentTarget.classList.remove('icon-mode', 'fa-solid', 'fa-moon');
    event.currentTarget.classList.add('icon-mode', 'fa-solid', 'fa-sun');
  }
  else if(event.currentTarget.classList=='icon-mode fa-solid fa-sun'){
    event.currentTarget.classList.remove('icon-mode', 'fa-solid', 'fa-sun');
    event.currentTarget.classList.add('icon-mode', 'fa-solid', 'fa-moon');
  }
   },
  validate() {
    var status=false; 
      if( document.myForm.Name.value == "" ) {
        document.getElementById("nameloc").innerHTML=  
"Please enter your name";  
status=false;  
}else{  
document.getElementById("nameloc").innerHTML=" <img src='checked.gif'/>";  
status=true;  
}  
if( document.myForm.email.value == "" ){  
document.getElementById("nameloc2").innerHTML=  
"Email is a valid field";  
status=false;  
}else{  
document.getElementById("nameloc2").innerHTML=" <img src='checked.gif'/>";  
}  
if( document.myForm.password.value == "" ){  
document.getElementById("nameloc3").innerHTML=  
"  Password must be at least 6 char long";  
status=false;  
}else{  
document.getElementById("nameloc3").innerHTML=" <img src='checked.gif'/>";  
}  
   }}}
</script>

<style>
#nameloc{
  font-size: x-small;
  widows: 30%;
  color: red;
  margin-left:0 ;
}
#nameloc2{
  font-size: x-small;
  widows: 30%;
  color: red;
  margin-left:0 ;
}
#nameloc3{
  font-size: x-small;
  widows: 30%;
  color: red;
  margin-left:0 ;
}
</style>
